@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Eat well, stay healthy!</h1>
    <p>Your new favourite app for vegetarians & pescatarians!</p>

    
</div>
